body {
  background-image: url("./images/wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg");
  background-repeat: no-repeat;
}

#today {
  color: white;
}

p {
  font-size: 13px;
}

.card-title {
  font-size: 17px;

  border: black solid 2px;
  padding-left: 10px;
  border-radius: 4px;
}

button {
  background-color: rgba(218, 220, 243, 0.906);
}
