p {
  font-size: 13px;
}

.card-title {
  font-size: 17px;

  border: black solid 2px;
}

button {
    background-color: rgba(220, 27, 27, 0.906);
    
}

.container-fluid {
    background-color: rgba(252, 252, 253, 0.906);
}

