body {
  background-image: url("./images/wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg");
  background-repeat: no-repeat;
}

p {
  font-size: 13px;
}

.card-title {
  font-size: 17px;

  border: black solid 2px;
}

button {
  background-color: rgba(218, 220, 243, 0.906);
}

.container-fluid {
  background-image: url("./images/wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg");
  background-repeat: no-repeat, repeat;
}
